HGMD_CustomAnnotation_update/out/
HGMD_CustomAnnotation_update/.idea/workspace.xml
HGMD_CustomAnnotation_update/.idea/usage.statistics.xml
HGMD_CustomAnnotation_update/.idea/tasks.xml
HGMD_GeneDisease_update/out/
HGMD_GeneDisease_update/.idea/workspace.xml
HGMD_GeneDisease_update/.idea/usage.statistics.xml
HGMD_GeneDisease_update/.idea/tasks.xml

*.pdf
*.odt
JavaDoc/
